@charset "utf-8";
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.return{
	position: absolute;
	top: 5%;
	left: 5%;
}
.return a{
	display: inline-block;
	text-decoration: none;
	border-radius: 20px ;
	padding: 10px 20px;
	transition: 0.4s linear;
	color: rgba(178,219,234,1.00);
	box-shadow: 0 30px 30px rgba(0,0,0,.5);
}
.return a:hover{
	color: #fff;
	background: rgba(178,219,234,1.00);
}
.title{
	position: absolute;
	top: 10%;
	left: 46%;
	color: #fff;
	align-items: center;
}
.container{
    width: 1000px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container .card{
    position: relative;
    width: 300px;
    height: 200px;
	box-shadow: 0 30px 30px rgba(0,0,0,.5);
}

.container .card .face{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}

.container .card .face.face1{
/*    background: #;*/
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform-origin: bottom;
}

.container .card .face.face1 img{
    max-width: 100px;
}

.container .card .face.face1 h3{
    margin: 10px 0 0;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
}

.container .card:hover .face.face1{
    transform: translateY(-100%) rotateX(90deg);
    background: #76EEC6;
}

.container .card .face.face2{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    transform-origin: top;
    transform: translateY(100%) rotateX(90deg);
}

.container .card:hover .face.face2{
    transform: translateY(0%) rotateX(0deg);
}